<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="mb-3">
        <img src="/secure-icon.png" alt="icon" width="20%" />
      </h1>
      <h2>Login</h2>
      <a class="btn btn-primary btn-block" href="/auth/email">Login with Email</a>
      <a class="btn btn-primary btn-block" href="/auth/github">Login with GitHub</a>
      <a class="btn btn-primary btn-block" href="/auth/facebook">Login with Facebook</a>
    </div>
  </div>
</div>
